.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  @media (max-width: 1400px) {
    flex-direction: column;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

@import "sidebar";
@import "main";
